
<div style="border: 5px solid red" >
<h1><%= $game.players[0].name %> vs. <%= $game.players[1].name %></h1>
</div>
<%= $game.players[0].name %>: <%= $game.players[0].life %>HP
<%= $game.players[1].name %>: <%= $game.players[1].life %>HP
<% if $game.players[0].life <= 0 %>
<h2> <%=$game.players[0].name%> is defeated! <%=$game.players[1].name%> is victorious! </h2>
<% end %>
<% if $game.players[1].life <= 0 %>
<h2> <%=$game.players[1].name%> is defeated! <%=$game.players[0].name%> is victorious! </h2>
<% end %>

<!-- # <%= @player_1 %>: 20HP
# <%= @player_2 %>: 20HP -->
<br>
<br>
<div style="border: 3px solid blue" >
<img src=https://i.ytimg.com/vi/Lf54gV0V5fI/maxresdefault.jpg height="200" width="200">
</div>
<br>
<br>
<br>
<a href="/attack">Attack</a>





<!-- <form action=/"attack">
  <input type="submit" value="Attack">
</form> -->
