<h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>

<%= @player_1.name %>: <%= @player_1.life %>HP
<%= @player_2.name %>: <%= @player_2.life %>HP

<!-- # <%= @player_1 %>: 20HP
# <%= @player_2 %>: 20HP -->
<br>
<br>
<div style='border: 3px solid blue' >
<img src=https://i.ytimg.com/vi/Lf54gV0V5fI/maxresdefault.jpg height="200" width="200">
</div>
<br>
<br>
<br>
<a href="/attack">Attack</a>





<!-- <form action=/"attack">
  <input type="submit" value="Attack">
</form> -->
